<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <h3>Messages:</h3>
      <% messages.forEach(item => {%>
        <li>
          <%= item.user %> says
          <br>
          <%= item.text %>
        </li>
      <%})%>
    </ul>
    <a href="/new"><button>Send a message!</button></a>
  </body>
</html>
